 /* INFO - this is the css for the top nav bar on all 3 pages */
nav {
    background-color: rgb(200, 200, 200);
    color: white;
}
nav ul {
    list-style: square;
    justify-content: space-around;
    display: flex;
}
/* INFO - this is the css for the body of all 3 html pages */
body {
    font-family: sans-serif;
    background-color: rgb(251, 255, 255);
    color: rgb(234, 189, 9);
    flex-wrap: wrap;
 /* INFO - this i s the css for the banner image on the index page  */
}
.banner-container { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container img {
    width: 100%;
    height: auto;
    display: block;
}
/* INFO - this is the css for the h3, 4 & 5 headers */
h3, h5 {
    text-align: center;
    color: aliceblue;
    font-size: 20pt;
    padding-top: 20px;
}
h4 { 
    color: rgb(7, 35, 148);
}
/* INFO - this is the css code for any paragraphs blocks */
p {
    padding: 2rem;
}
/*  INFO - this is the css for the mision, vision and we believe blocks on the index page */
#missionVision {
    background-color: rgb(7, 35, 148);
    border-radius: 20px;
}
/* INFO - this is the css for the 2 images and captions at the bottom of the index page */
.image-container {
    display: flex;
    justify-content: space-around;
}
.image-with-caption {
    text-align: center;
}
.image-with-caption img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
/* INFO - this is the css for the What AVT is and All AVT courses blocks on the About Us page */
#aboutUs {
    background-color: rgb(7, 35, 148);
    border-radius: 20px;
}
/* INFO - this is the css for the table at the bottom of the About Us page */
.coursesTable {
    width: 95%;
    border-collapse: collapse;
    margin: 2rem 1rem;
}
.coursesTable th, .coursesTable td {
    border: 1px dotted gray;
    text-align: center;
    padding: 10px;
}
.coursesTable th {
    color: black;
    font-style: italic;
}
.courseThumbnail {
    height: 100px;
    border-radius: 10px;
}
.pricing {
    color: red;
    font-weight: bold;
}
/* INFO - this is the css for the form on the Contact US page */
.form-container {
    max-width: 300px;
    margin: 0 auto;
}
.form-group {
    margin: 2px 2px; 
    padding: 5px;
}
input[type="text"], input[type="email"] {
    width: 90%;
    align-items: center;
    margin: 2px;
}
.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkbox {
    margin-bottom: 10px;
    color: rgb(7, 35, 148);
}
input[type="submit"] {
    background-color: rgb(104, 194, 122);
    border-radius: 10px;
    margin-top: 20px;
}
